.wrapper {
  font-size: 100%;
  font: georgia;
  line-height: .8em;
  background-color: maroon;
  font-color: white;
}
.headline {
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  }
.name {
  text-transform: lowercase;
  text-align: center;
}
.text {
 font-size: 3.4em;
 text-align: center;
 text-transform: uppercase;
}

