.wrapper {
  font-size: 100%;
  font: georgia;
  line-height: .8em;
}
.headline {
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  color: green;
  }
.name {
  text-transform: lowercase;
  text-align: center;
}
.text {
 font-size 8em;
 text-align: center;
 text-shadow: 2px 4px 10px black;
 text-transform: uppercase;
}
