.wrapper {
  font-size: 100%;
  font: georgia;
  line-height; 1.6;
}
.headline {
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  color: green;
  }
.name {
  text-transform: lowercase;
  text-align: center;
}
.text {
 font-size 8em;
 text-align: center;
}
